<div class="col-lg-12">
    <accordion close-others="true">
        <accordion-group heading="Mission">
            To provide our customers second hand books with economical price, through Internet.
        </accordion-group>
        <accordion-group heading="Vision">
            To ultimately become the world class leader among Online Second Hand Book selling around the world.
        </accordion-group>
        <accordion-group heading="Why Second Hand Book?">
            Here is one sector that is only expected to bloom with time. Be it text books, guides, or just novels for leisure reading,
            second-hand books are in great demand, especially amongst youngsters. Talking about study textbooks first,
            we hit the market of Kamla Nagar in Delhi University, to talk to some of the popular bookstore owners.
            Sachin Rastogi of Book Land tells us, “60% of our customers in a day are second-hand book buyers.
            Books are getting extremely expensive, and for students living with limited budgets,
            they can be hard to afford. Students can save up to 30% of the cost, if they buy second-hand books.
            Also, some students like to buy second-hand books, especially because they are loaded with valuable notes.”
            Swaran Singh Tulsi of International Book House SS addresses some of the challenges in the business.
            “Although it is a good business, especially during the beginning and end of the year,
            changes in syllabus and editions happen with around 10 to 15% of the books ever year.
            This results in major loss for us. Also, the quality of books suffers, when dealing with second-hands.
            A lot of times, students tear pages from within a book, after which the book is completely useless for us.”
            Moving on to leisure reading, owner of Second Hand Books India, an online store for second-hand books,
            Sharad Churamani tells us, “The market for second-hand books is already huge, but in the next few years,
            I see it getting more organized.” Sharad has tied up with various libraries in the US and UK,
            from where he sources these old books. He claims to get around 70 customers that register on to his website every day,
            enquiring about second-hand novels. How much discount do his customers get?
            “A minimum of 40% is slashed off, but it can even go as high as 80% with some offbeat novels".
            “Readers are primarily looking for novels from their favorite authors, at affordable prices.
            The quality of the books is hardly a hindrance. Sydney Sheldon, Geoffrey Archer and Mills & Boons are the most popular buys.
            Even the classics sell well,” says Sharad. Through his website, Sharad has made contacts with a lot of schools and shops especially in the North East,
            to whom he provides second-hand books in bulk.
        </accordion-group>
        <accordion-group heading="What is BookBin?">
            The idea behind BookBin was to minimize the gap which is there between the buyer and seller in the second hand book market, and to provide them a common platform.
            Our website is dedicated to students irrespective of their branch/specialization or standard. In this, they can buy and sell the book by registering in out website and can gain the maximum profit out of it by mutual understanding among them as we will only act as information provider to both of them.

            We have kept our website as simple as possible, so that it is easier for user to use it. The student can register it by giving the user name, email id and phone number (it is optional) likes other social networking website.

            Once the user has registered, he/she can put book for sell in our website. So other people around the world can see that book.

            To make our site user friendly we worked on “searching algorithm”. Like user 1 is belongs to “Bangalore” and he is Engineering Student, so he can see all books From Bangalore and Engineering on Top.

            Later we are planning to modify our based on Zip Code and College so they can get some more accurate results.
        </accordion-group>
    </accordion>
</div>
