<div class="col-lg-4">
    <div>
        <blockquote>
            <p style="text-align:justify">
                One man’s trash, another man’s treasure? Well, it definitely holds true for the
                second-hand goods market.
            </p>
        </blockquote>

        <p style="text-align:justify">
            The markets in Jama Masjid, Chandni Chowk, Nai Sarak and Darya Ganj are incessantly
            popular for their second-hand goods, and these are just a few in one city. Be it
            mobile phones, books, automobiles or even clothes, the pre-owned goods industry,
            although unorganized to a large extent, is here to stay.
            <strong>BookBin</strong> explores the current scenario of some second-hand Books segments.

        </p>
        <p><a class="btn btn-primary btn-lg" href="#/about">Read More</a></p>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Top 5 Selling Books</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Top 5 Buying Books </h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>
<div class="col-lg-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Search Book </h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>
